html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  font-size: 16px;
}
#app {
  height: 100%;
}
#wrapper {
  width: 100%;
  height: 100%;
  display: table;
}
#header {
  height: 20px;
  display: table-row;
}
.content {
  display: table-row;
  padding: 0 20px;
}
#footer {
  height: 45px;
  display: table-row;
  background: #3b3b3b;
  color: #fff;
  font-size: 13px;
}